/* VARIBLES GLOBALES */
:root {
    /* COLORES */
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorBackground: #fff9f9;
    --colorEnfasis: #bfe656;
    --colorTextPrimary: #333333;
    --colorTextSecondary: #63792a;

    /* TIPOGRAFÍA */
    --fontPrimary: "Quicksand", sans-serif;
    --fontSecondary: 'Georgia', serif;

    /* TAMAÑOS */
  --fontSizeSmall:  clamp(10px, 2.5vw, 12px);
  --fontSizeMedium: clamp(14px, 3vw, 16px);
  --fontSizeLarge:  clamp(18px, 4vw, 24px);
  --fontSizeXLarge: clamp(24px, 5vw, 32px);

    /* WEIGHTS */
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;

}

/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrimary);
    color: var(--colorTextPrimary);
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightRegular);
}

/* ESTILOS GENERALES */
body {
    background-color: var(--colorBackground);
}

img {
    width: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 180%;
    letter-spacing: 0.5px;
    text-wrap: pretty;
}

.resaltado {
    color: var(--colorTextSecondary);
    font-weight: var(--fontWeightSemiBold);
}

.hidden {
    visibility: hidden;
}

.buttonCallToACtion {
    background-color: var(--colorEnfasis);
    color: var(--colorBlack);
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.20);
    line-height: 180%;
    letter-spacing: 0.5px;
    margin: 0 auto;
    font-size: var(--fontSizeSmall);
}

.buttonCallToACtion:active {
    scale: 1.02;
}

.clickable:active {
    scale: 1.02;
}

.buttonContinue {
    margin-top: 2.5em;
}

.section {
    padding: 100px 1em 50px 1em;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    max-width: 800px;

}

.windowFloat {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--colorBackground);
    min-height: 100vh;
    transform: translateX(200%);
    transition: transform 1s ease;
}

.showWindowFloat {
    transform: translateX(0);
}


/* BARRA DE NAVEGACIÓN */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--colorBackground);
    box-shadow: 0px 15px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.nav_img {
    width: 30px
}

.nav_img--logo {
    width: 40px;
}


/* CONTENIDO PRINCIPAL */
.main {
    text-align: center;
}

.main_logo {
    margin: 0 auto;
}

.main_title {
    font-size: var(--fontSizeLarge);
}

.main_description {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
}

.main_buttonCallToACtion {
    max-width: 300px;
    position: relative;
}


/* ENSALADA FIXED */
.container_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(40%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.ensalada_fixed {
    width: 100%;
}


/* CANTIDAD DEL PRODUCTO */
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
    background-color: var(--colorWhite);
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.producto_precio {
    position: absolute;
    top: -10px;
    right: -10px;
    aspect-ratio: 1 / 1;
    text-align: center;
    background-color: var(--colorEnfasis);
    color: var(--colorBlack);
    padding: 0.5em 1em;
    border-radius: 100%;
    font-weight: var(--fontWeightBold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto_imagen {
    width: 50%;
    max-width: 200px;
}

.producto_nombre {
    color: var(--colorTextSecondary);
    font-weight: var(--fontWeightSemiBold);
}

.cantidadProducto_botonera {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.cantidadProducto_button, .cantidadProducto_text {
    width: 100%;
    border-radius: 8px;
    padding: 0.5em 1em;
    background-color: var(--colorWhite);
    border: 1px solid var(--colorBlack);
    text-align: center;
}

.cantidadProducto_text {
    border: none;
}


