/* VARIBLES GLOBALES */
:root {
    /* COLORES */
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorBackground: #fff9f9;
    --colorEnfasis: #bfe656;
    --colorTextSecondary: #63792a;
    --colorGrayLight: #d5d6d6;
    --colorTextPrimary: #333333;
    --colorTextSecundary: #603b17;

    /* TIPOGRAFÍA */
    --fontPrimary: "Quicksand", sans-serif;
    --fontSecondary: 'Georgia', serif;

    /* TAMAÑOS */
  --fontSizeSmall:  clamp(10px, 2.5vw, 12px);
  --fontSizeMedium: clamp(14px, 3vw, 16px);
  --fontSizeLarge:  clamp(18px, 4vw, 24px);
  --fontSizeXLarge: clamp(24px, 5vw, 32px);

    /* WEIGHTS */
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;

}

/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrimary);
    color: var(--colorTextPrimary);
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightRegular);
}

/* ESTILOS GENERALES */
body {
    background-color: var(--colorBackground);
}

img {
    width: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 180%;
    letter-spacing: 0.5px;
    text-wrap: pretty;
}

span {
    text-wrap: pretty;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.resaltado {
    color: var(--colorTextSecondary);
    font-weight: var(--fontWeightSemiBold);
}

.resaltadoSecundario {
    color: brown;
    font-weight: var(--fontWeightSemiBold);
}

.hidden {
    visibility: hidden;
}

.buttonCallToAction, .buttonEliminar, .buttonEditar {
    background-color: var(--colorEnfasis);
    color: var(--colorBlack);
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.20);
    line-height: 180%;
    letter-spacing: 0.5px;
    margin: 0 auto;
    font-size: var(--fontSizeSmall);
    text-align: center;
    cursor: pointer;
}

.buttonEliminar, .buttonEditar {
    background-color: var(--colorGrayLight);
}

.buttonCallToAction:active {
    scale: 1.02;
}

.clickable:active {
    scale: 1.02;
}

.buttonContinue {
    margin-top: 2.5em;
}

.buttonVolver {
    background-color: var(--colorGrayLight);
    margin-top: 10px;
}

.buttonEditar {
    background-color: var(--colorGrayLight);
}

.section {
    padding: 100px 1em 50px 1em;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: hidden;
    max-width: 500px;
}

.windowFloat {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--colorBackground);
    min-height: 100vh;
    transform: translateY(200%);
    transition: transform .8s ease;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  
}

.showWindowFloat {
    transform: translateX(0);
}


/* BARRA DE NAVEGACIÓN */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--colorBackground);
    box-shadow: 0px 15px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.nav_img {
    width: 30px
}

.nav_img--logo {
    width: 40px;
}


/* CONTENIDO PRINCIPAL */
.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_logo {
    margin: 0 auto;
}

.main_title {
    font-size: var(--fontSizeLarge);
}

.main_description {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
}

.main_buttonCallToAction {
    max-width: 300px;
    position: relative;
}

.main_img {
    width: 100%;
    margin: 0 auto;
}

/* MENU */
.menu_title {
    font-weight: var(--fontWeightSemiBold)
}

.menu_containerProductos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.menu_producto {
    border: 1px solid var(--colorBlack);
    background-color: var(--colorWhite);
    padding: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;
    cursor: pointer;
}

.menu_productoSeleccionado {
    background-color: var(--colorEnfasis);
}

.menu_ContainerFlex {
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu_description {
    font-size: var(--fontSizeSmall);
}

.producto_botonera {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
    display: none;
}

.producto_buttonCantidad {
    width: 100%;
    background-color: var(--colorWhite);
    border-radius: 8px;
    border: 1px solid var(--colorBlack);
}

.producto_cantidadText {
    width: 50%;
    text-align: center;
}

.menu_productoSeleccionado .producto_botonera {
    display: flex;
}

.producto_precio {
    position: absolute;
    top: -10px;
    right: -10px;
    aspect-ratio: 1 / 1;
    text-align: center;
    background-color: var(--colorEnfasis);
    color: var(--colorBlack);
    padding: 0.5em 1em;
    border-radius: 100%;
    font-weight: var(--fontWeightBold);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--colorBlack);
}

.producto_imagen {
    width: 50%;
    max-width: 200px;
}

.producto_nombre {
    color: var(--colorTextSecondary);
    font-weight: var(--fontWeightSemiBold);
    text-align: center;
}


/* DATOS DEL USUARIO */
.datosUsuario_input {
    padding: .5em;
    border-radius: 4px;
    border: none;
    border: 1px solid var(--colorGrayLight);
}

.datosUsuario_input:focus {
    outline: 2px solid var(--colorEnfasis);
}

.containerFlex {
    display: flex;
    gap: 1em;
}

.datosUsuario_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.preguntasOcultas {
    display: none;
}


/* DETALLES PEDIDO */
.detallesPedido {
    gap: 1.5em;
}

.detallesPerdido_cardProducto {
    position: relative;
    border: 1px solid var(--colorBlack);
    padding: 2em 1.5em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--colorWhite);
}

.detallesPedido_img {
    width: 30%;
}

.detallePedido_containerTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.tags {
    padding: .5em;
    background-color: var(--colorGrayLight);
    border-radius: 20px;
    font-size: var(--fontSizeSmall);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.20);
    background-color: var(--colorEnfasis);
    cursor: pointer;
}

.detallePedido_frase {
    text-align: center;
}

.detallesPedido_infoUsuario {
    display: flex;
    gap: 1em;
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    padding: 2em 1.5em;
    justify-content: center;
    align-items: center;
    background-color: var(--colorWhite);
}

.infoUsuario_img {
    width: 30%;
}

.infoUsuario_wrapped {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.infoUsuario_title {
    color: var(--colorTextSecondary);
    font-weight: var(--fontWeightSemiBold);
}

.infoUsuario_text {
    font-size: var(--fontSizeSmall);
}

.detallePedido_totalCompra {
    font-size: var(--fontSizeLarge);
    font-weight: var(--fontWeightBold);
    color: var(--colorTextSecondary);
    text-align: center;
}

.detallePedido_lineDecorativo {
    width: 60%;
    height: 4px;
    background-color: var(--colorTextSecondary);
    margin: 0 auto;
    
}

.detallePedido_lineDecorativo:nth-of-type(2) {
    width: 40%;
}

.detallesPedido_pieDePagina {
    font-size: 9px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    width: 70%;
}

.detallesPedido_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}


/* MENSAJE GENERADO */
.mensajeGenerado_title {
    font-size: var(--fontSizeLarge);
    font-weight: var(--fontWeightSemiBold);
    color: var(--colorTextSecondary);
    text-align: center;
}

.mensajeGenerado_description {
    text-align: center;
}

.mensajeGenerado_img {
    width: 80%;
    margin: 0 auto;
}


/* CAFECITO DEL DÍA */
.cafecitoDelDia_title {
    font-weight: var(--fontWeightSemiBold);
    text-align: center;
    font-size: var(--fontSizeLarge);
}

.cafecitoDelDia_description {
    text-align: center;
    font-size: var(--fontSizeSmall);
}

.cafecitoDelDia_puntaje {
    text-align: center;
    font-weight: var(--fontWeightSemiBold);
}

.cafecitoDelDia_cita {
    font-size: var(--fontSizeLarge);
    font-style: italic;
    text-align: center;
    border: 8px solid var(--colorTextSecundary);
    padding: 2em 1em;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.20);
    margin-top: 20px;
}

.cafecitoDelDia_img {
    width: 80%;
    margin: 0 auto;
}

.cafecitoWrapper {
    position: relative;
}

.buttonVolverCafecito {
    position: absolute;
    max-width: 180px;
}